.page-item:first-child .page-link {
    margin-left: 0;
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-link {
    background-color: #edeff2 !important;
    border: 0 dashed #e2e2e2;
    border-radius: 0;
    color: #a3a5a8 !important;
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-left: 6px;
    padding: 0.8rem 0.8rem;
    position: relative;
    text-transform: capitalize;
}

.page-link:hover,
.page-link:focus {
    color: #111 !important;
}