.search-form .form-control {
    border-radius: 0;
    margin-bottom: 1.4rem;
    border: 1px solid #edeff2;
    font-size: 12px;
    min-height: 45px;
    text-transform: none;
    font-weight: 400;
}

.search-form .form-control {
    margin: 0;
    min-width: 240px;
    border-right: 0;
}

.search-form .btn:hover,
.search-form .btn:focus,
.search-form .btn {
    padding: 0;
    border-color: #edeff2 !important;
    height: 45px;
    position: absolute;
    border-radius: 0 !important;
    background-color: #edeff2 !important;
    right: 0;
    color: #a3a5a8 !important;
    width: 45px;
    line-height: 45px;
    margin-left: 0
}

.blog-list-widget img {
    background: #fff none repeat scroll 0 0;
    margin-right: 15px;
    max-width: 80px;
    padding: 4px;
}

.blog-list-widget .list-group-item {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
}

.blog-list-widget .w-100 {
    margin-bottom: 1rem;
    display: block;
}

.blog-list-widget .w-100.last-item {
    margin-bottom: 0;
}

.blog-list-widget .mb-1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0rem !important;
}

.blog-list-widget small {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}