.edit-recipe-container {
    text-align: center;
    background-image: url(https://wallpapers.com/images/hd/food-4k-1pf6px6ryqfjtnyr.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 2rem;
    color: rgb(218, 214, 214);
    position: relative;
}

#wrapper > div.edit-recipe-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
} 

#edit-recipe > h1 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
}

#edit-recipe > img {
    max-width: 90%;
    border-radius: 1rem;
    margin: 2rem 0;
}

#edit-recipe {
    position: relative;
    max-width: 60%;
    margin: auto;
    border-radius: 1rem;
    background-color: #00000091;
    padding: 60px;
    box-shadow: 1px 0px 16px 7px rgb(0 0 0 / 24%);
}

.edit-recipe-container input{
    text-align: center;
}

::placeholder {
    text-align: center;
    color: black;
}

#edit-recipe input,
#edit-recipe textarea {
    width: 70%;
    background-color: rgba(255,255,255,.1);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    position: relative;
    color: #fff;
}

#edit-recipe textarea {
    height: 6rem;
}

#edit-recipe > input.submit-btn {
    margin: auto;
    max-width: 30%;
    background-color: #1161ee;
    margin-top: 1rem;
}

#edit-recipe > p{
    color: red;
    font-weight: bold;
}