.recipe-img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
    box-shadow: 1px 0px 16px 7px rgb(0 0 0 / 24%);
}

.img-container {
    margin: auto;
}

#wrapper > section:nth-child(3) > div > div > div.col-lg-8.col-md-12.col-sm-12.col-xs-12 > div > div.blog-title-area > div.buttons > a {
    color: white;
    margin-right: 0.2rem;
}

#wrapper > section:nth-child(3) > div > div > div.col-lg-8.col-md-12.col-sm-12.col-xs-12 > div > div.blog-content > div {
    margin-bottom: 2rem;
}

#wrapper > section:nth-child(3) > div > div > div.col-lg-8.col-md-12.col-sm-12.col-xs-12 > div > div.blog-content > div > p {
    margin-bottom: 0;
    line-height: 2rem;
}

.post-sharing {
    display: block;
    width: 100%;
    position: relative;
    margin: 1rem 0 0;
}

.post-sharing .btn {
    padding: 0.3rem 1.6rem;
    border-radius: 3px;
    color: #ffffff !important;
}

.post-sharing .btn:hover {
    opacity: 0.9;
}

.post-sharing span,
.post-sharing li {
    display: inline-block !important;
}

.blog-title-area {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 3rem;
}

.blog-title-area .breadcrumb {
    float: none;
    text-align: left;
    padding: 0;
    color: #a3a5a8;
    margin: 0;
}

.blog-title-area.text-center .breadcrumb {
    text-align: center;
}

.blog-title-area .blog-meta a {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blog-title-area .breadcrumb-item.active,
.blog-title-area .breadcrumb-item + .breadcrumb-item::before,
.blog-title-area .blog-meta small,
.blog-title-area a {
    color: #a3a5a8;
}

.blog-title-area span {
    margin: 0.5rem 0;
    display: block;
}

.blog-title-area span a {
    padding: 0 1rem;
    color: #ffffff !important;
    border-radius: 3px;
}

.blog-title-area h3 {
    font-size: 41px;
    line-height: 50px;
    margin-bottom: 7px;
    margin-top: 0;
    overflow-wrap: break-word;
}