.recipe-img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
    box-shadow: 1px 0px 16px 7px rgb(0 0 0 / 24%);
}

.img-container {
    margin: auto;
}

#wrapper > section:nth-child(3) > div > div > div.col-lg-8.col-md-12.col-sm-12.col-xs-12 > div > div.blog-title-area > div.buttons > a {
    color: white;
    margin-right: 0.2rem;
}