.topbar-section,
.navbar-inverse .navbar-nav .nav-link,
.header .dropdown-menu,
.navbar-nav .nav-link {
    font-family: 'Montserrat', serif;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav .nav-link:hover,
.navbar-inverse .navbar-nav .nav-link,
.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    opacity: 0.9;
}

.navbar-toggler {
    background: #000 none repeat scroll 0 0 !important;
}

.header,
.header .dropdown-item:hover,
.header .dropdown-item:focus {
    color: #ffffff !important;
    background-color: #ab0012 !important;
    border-color: #ab0012 !important;
    box-shadow: 0 !important;
}

